{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login de Bulonera Alvear.</title>
    </head>
    <body>
        <header><!-- Se carga desde el navbar.html --></header>
        <main>
            {% block content %}
            Este es un documento de prueba PARA EL REGISTER DE LA PAGINA.
            <!-- ========================= SECTION CONTENT ========================= -->

            <!-- ========================= SECTION CONTENT END// ========================= -->
            {% endblock %}
        </main>
        <footer><!-- Se carga desde el footer.html --></footer>
    </body>
</html>