SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

WHATSAPP_NUMBER=

SITE_URL=
META_PIXEL_ID=

MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USER=
MAILTRAP_PASSWORD=

EMAIL_TO_SEND_MESSAGES=
EMAIL_TO_RECEIVE_MESSAGES=
