{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="historia-container">
    <div class="info-column">
        <div class="info-item">
            <img src="{% static 'images/vision.png' %}" alt="Visión" class="info-icon">
            <div class="info-label">
                <h1>Historia</h1>
            </div>
            <p>
                Hace más de tres décadas que Bulonera Alvear forma parte del desarrollo y crecimiento de la ciudad de Resistencia y la región.

                Fundada en sus inicios por Marta Krugger, una empresaria visionaria y comprometida, la empresa fue tomando forma como referente en la provisión de bulonería y ferretería. En 2007, la conducción pasó a manos de Miguel Ángel Mela, quien había sido durante años su colaborador de confianza.
                
                Desde entonces, continuamos con el mismo espíritu de servicio, acompañando a clientes, emprendedores, industrias y familias en la concreción de proyectos de todo tipo: desde la construcción de un hogar hasta el desarrollo de grandes obras.
                
                Hoy, después de 33 años de trayectoria, nos enorgullece seguir siendo un aliado estratégico para quienes buscan productos confiables, atención cercana y compromiso real con sus necesidades.
            </p>
        </div>
        <div class="info-item">
            <img src="{% static 'images/mision.png' %}" alt="Misión" class="info-icon">
            <div class="info-label">
                <h1>Misión</h1>
            </div>
            <p>
                Proveer a nuestros clientes un suministro confiable y continuo de productos de bulonería y ferretería, garantizando calidad, cumplimiento y atención personalizada.
                Actuamos con responsabilidad, ética y respeto por los compromisos asumidos, generando relaciones comerciales sólidas y de largo plazo.
            </p>
        </div>
        <div class="info-item">
            <img src="{% static 'images/objetivos.png' %}" alt="Objetivo" class="info-icon">
            <div class="info-label">
                <h1>Visión</h1>
            </div>
            <p>
                Consolidarnos como empresa líder en el norte argentino en el rubro de bulonería y ferretería, ampliando nuestra presencia y fortaleciendo vínculos comerciales en nuevas regiones.
                Nuestro objetivo es posicionar a Bulonera Alvear como sinónimo de calidad, confianza y servicio, siendo la primera opción para clientes que valoran seriedad y compromiso.
            </p>
        </div>
    </div>
    <div class="logo-column">
        <img src="{% static 'images/logo02.png' %}" alt="Bulonera Alvear Logo" class="logo-image">
        <p class="slogan">Construyendo el futuro, tornillo a tornillo.</p>
    </div>
</div>
{% endblock %}
