<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

<html lang="en">
    
    {% block content %}
    <div class="card-body"><!-- Nos encontrás en: -->
        <div class="card-header bg-primary text-white">
            <h2 class="text-center mb-0">Nos encontrás en:</h2>
        </div>
    </div>
    <div class="card-body"><!-- Casa CENTRAL -->
        <div class="text-center">
            <div>
                <p>Casa central:</p>
            </div>
            <div class="col-md "><!-- maps -->
                <iframe class="iframe1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.7335905695527!2d-59.009128328846515!3d-27.446412208054795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450c7c12df062d%3A0x4d6cb5878c377427!2sBulonera%20Alvear!5e0!3m2!1ses-419!2sar!4v1744065511827!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
    </div>
    <div class="card-body"><!-- SUCURSAL -->
        <div class="text-center">
            <div>
                <p>Sucursal 1:</p>
            </div>
            <div class="col-md"><!-- maps -->
                <iframe class="iframe1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3541.1257855420026!2d-59.022848588562745!3d-27.434190376241503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450b0042a383d3%3A0x99509462955cc966!2sBulonera%20Alvear!5e0!3m2!1ses-419!2sar!4v1744067091849!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
    </div>
    {% endblock%}
</html>