
{% load static %}
{% load custom_filters %}
<!-- ========================= FOOTER ========================= -->
<footer class="bg-white bulonera-footer">
    <div class="container py-3 py-md-5">
        <div class="row py-2 py-md-3">
            <!-- ###### About Us ###### -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 mb-4">
                <h6 class="text-uppercase font-weight-bold mb-3 mb-md-4 h6_about">Nosotros</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="{% url 'history' %}" class="text-muted">Historia</a></li>
                    <li class="mb-2"><a href="{% url 'history' %}" class="text-muted">Vision</a></li>
                    <li class="mb-2"><a href="{% url 'history' %}" class="text-muted">Mision</a></li>
                    <li class="mb-2"><a href="{% url 'history' %}" class="text-muted">Valores</a></li>
                </ul>
            </div>
            
            <!-- ###### Company ###### -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 mb-4">
                <h6 class="text-uppercase font-weight-bold mb-3 mb-md-4 h6_about">Company</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="{% url 'login' %}" class="text-muted">Login</a></li>
                    <li class="mb-2"><a href="{% url 'register' %}" class="text-muted">Register</a></li>
                    <li class="mb-2"><a href="{% url 'store' %}" class="text-muted">Our Products</a></li>
                    <li class="mb-2"><a href="{% url 'return_policy' %}" class="text-muted">Política de Devoluciones</a></li>
                </ul>
            </div>
            
            <!-- ###### Contact Us ###### -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 mb-4">
                <h6 class="text-uppercase font-weight-bold mb-3 mb-md-4 h6_about">Contactanos:</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="{% url 'contact' %}" class="text-muted">Contactanos</a></li>
                    <li class="mb-2"><a href="{% url 'location' %}" class="text-muted">Donde encontrarnos</a></li>
                </ul>
            </div>
            
            <!-- ##### Social media ##### -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 offset-xl-2">
                <h6 class="text-uppercase font-weight-bold mb-3 mb-md-4 h6_about">Nos encontras en:</h6>
                <p class="text-muted mb-2">Casa central: Av. Alvear 1301, Resistencia, CHACO, ARGENTINA - CP: 3500</p>
                <p class="text-muted mb-3">Sucursal 1: Av. Alvear 2975, Fontana, CHACO, ARGENTINA - CP: 3500</p>
                <ul class="list-inline mt-3 mt-md-4 social-icons">
                    <li class="list-inline-item mb-2"><a href="https://www.facebook.com/buloneraalveaar" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
                    <li class="list-inline-item mb-2"><a href="https://www.instagram.com/buloneraalvear/" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
                    <li class="list-inline-item mb-2"><a href="https://www.google.com/maps/place/Bulonera+Alvear/@-27.4472508,-59.0054195,19.31z/data=!4m6!3m5!1s0x94450c7c12df062d:0x4d6cb5878c377427!8m2!3d-27.4471279!4d-59.0055408!16s%2Fg%2F11bwh5sp77?entry=ttu" target="_blank" title="google-maps"><i class="fab fa-2x fas fa-map-marker-alt"></i></a></li>
                    <li class="list-inline-item mb-2"><a href="https://ar.linkedin.com/company/buloneraalvear" target="_blank" title="linkedin"><i class="fab fa-2x fa-linkedin"></i></a></li>
                    <li class="list-inline-item mb-2"><a href="https://wa.me/5493624733431" target="_blank" title="whatsapp"><i class="fab fa-2x fa-whatsapp social_whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <hr class="p-0 m-0 b-0">
    
    <!-- ##### Derechos de creación: ##### -->
    <div class="bg-light py-2">
        <div class="container text-center about_me">
            <p class="text-muted mb-2 py-2">&copy; 2024 Bulonera Alvear - All rights reserved by Bulonera Alvear</p>
            <!-- ##### Derechos de creación: 
            <ul class="list-inline mb-0">
                <li class="list-inline-item"><a href="https://github.com/melafrancom" target="_blank" title="github"><i class="fab fa-2x fa-github social_github"></i></a></li>
            </ul>
            ##### -->
        </div>
    </div>
</footer>
<!-- ========================= FOOTER END // ========================= -->



		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
							$('.thumb a').click(function(e){
									e.preventDefault();
									$('.mainImage img').attr('src', $(this).attr('href'));
							});
					});
		</script>

</html>

