{% load static %}
<!DOCTYPE html>
<html lang="en">

				<!-- ========================= FOOTER ========================= -->
				<footer class="bg-white bulonera-footer">
					<div class="container py-5">
						<div class="row py-3">

							<div class="col-lg-2 col-md-6 mb-4 mb-lg-0"> <!-- ###### About Us ######-->
								<h6 class="text-uppercase font-weight-bold mb-4 h6_about">Nosotros</h6>
								<ul class="list-unstyled mb-0">
									<li class="mb-2"><a href="{% url 'history' %}" class="text-muted">Historia</a></li>
									<li class="mb-2"><a href="{% url 'history' %}" class="text-muted">Vision</a></li>
									<li class="mb-2"><a href="{% url 'history' %}" class="text-muted">Mision</a></li>
									<li class="mb-2"><a href="{% url 'history' %}" class="text-muted">Valores</a></li>
								</ul>
							</div>
							<div class="col-lg-2 col-md-6 mb-4 mb-lg-0"><!-- ###### Company ###### -->
								<h6 class="text-uppercase font-weight-bold mb-4 h6_about">Company</h6>
								<ul class="list-unstyled mb-0">
									<li class="mb-2"><a href="{% url 'login' %}" class="text-muted">Login</a></li>
									<li class="mb-2"><a href="{% url 'register' %}" class="text-muted">Register</a></li>
									<li class="mb-2"><a href="{% url 'store' %}" class="text-muted">Our Products</a></li>
								</ul>
							</div>
				
							<div class="col-lg-2 col-md-6 mb-4 mb-lg-0 h6_about"> <!-- ###### Contact Us ######-->
								<h6 class="text-uppercase font-weight-bold mb-4">Contactanos:</h6>
								<ul class="list-unstyled mb-0">
									<li class="mb-2"><a href="{% url 'contact' %}" class="text-muted">Contactanos</a></li>
									<li class="mb-2"><a href="{% url 'location' %}" class="text-muted">Donde encontrarnos</a></li>
								</ul>
							</div>

							<div class="col-lg-4 col-md-6 mb-lg-0 h6_about"> <!--  ##### Social media ##### -->
								<h6 class="text-uppercase font-weight-bold mb-4">Nos encontras en:</h6>
								<p class="text-muted mb-4">Casa central: Av. Alvear 1301, Resistencia, CHACO, ARGENTINA - CP: 3500</p>
								<p class="text-muted mb-4">Sucursal 1: Av. Alvear 2975, Fontana, CHACO, ARGENTINA - CP: 3500</p>
								<ul class="list-inline mt-4">
									<li class="list-inline-item"><a href="https://www.facebook.com/buloneraalveaar" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
									<li class="list-inline-item"><a href="https://www.instagram.com/buloneraalvear/" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
									<li class="list-inline-item"><a href="https://www.google.com/maps/place/Bulonera+Alvear/@-27.4472508,-59.0054195,19.31z/data=!4m6!3m5!1s0x94450c7c12df062d:0x4d6cb5878c377427!8m2!3d-27.4471279!4d-59.0055408!16s%2Fg%2F11bwh5sp77?entry=ttu" target="_blank" title="google-maps"><i class="fab fa-2x fas fa-map-marker-alt"></i></a></li>
									<li class="list-inline-item"><a href="https://ar.linkedin.com/company/buloneraalvear" target="_blank" title="linkedin"><i class="fab fa-2x fa-linkedin"></i></a></li>
									<li class="list-inline-item"><a href="https://wa.me/5493624733431" target="_blank" title="whatsapp"><i class="fab fa-2x fa-whatsapp social_whatsapp"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<hr class="p-0 m-0 b-0">
			
				
					<div class="bg-light py-2"><!--  ##### Derechos de creación: ##### -->
						<div class="container text-center about_me">
							<p class="text-muted mb-0 py-2">&copy; 2024 Bulonera Alvear - All risghts reserved by Bulonera Alvear</p>
							<li class="list-inline-item"><a href="https://github.com/melafrancom" target="_blank" title="github"><i class="fab fa-2x fa-github social_github"></i></a></li>
						
						</div>
					</div>
				
				</footer>
		<!-- ========================= FOOTER END // ========================= -->



		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
							$('.thumb a').click(function(e){
									e.preventDefault();
									$('.mainImage img').attr('src', $(this).attr('href'));
							});
					});
		</script>

</html>

