{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {% if show_import_button %}
    <li>
        <a href="{% url 'admin:import_products' %}" class="button">
            {% trans "Importar Productos" %}
        </a>
    </li>
    {% endif %}
    {% if show_price_update_button %}
    <li>
        <a href="{% url 'admin:update_prices' %}" class="button">
            {% trans "Actualizar Precios" %}
        </a>
    </li>
    {% endif %}
    {{ block.super }}
{% endblock %}